.list-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 align-items: start;
}
.box{
  flex: 1;
}

.action{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.act{
  flex: 1;
  /*margin-top: 15px;*/
}

.selected {
  background-color: #dc4a6a !important;
  color: white;
}
.matieres {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.matieres li {
  cursor: pointer;
  font-size: medium;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.5em;
  border-radius: 4px;
}
.matieres li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.matieres li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.matieres .text {
  position: relative;
  top: -50px;
  font-size: medium;
}
.matieres .badge {
  display: inline-block;
  font-size: medium;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.5em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.mats {
  overflow: auto;
  height: 300px;
}
