<div class="container">

  <div class="row list-box">
    <div class="col-md-4 box">
      <div class="alert alert-success" *ngIf="successMessage"> {{successMessage}}</div>
      <div class="alert alert-danger" *ngIf="errorMessage"> {{errorMessage}}</div>
      <div class="alert alert-warning" *ngIf="errorMessageStatus"> {{errorMessageStatus}}</div>
      <div class="card ">
        <div class="card-header">{{title}}</div>
        <div class="card-body clearfix">
          <div class="container ">
            <input #searcbox id="search-box" (keyup)="search(searcbox.value)" placeholder="Rechercher une matiere"/>
          </div>

          <div class="clearfix" >
          <ul class="matieres mats clearfix " *ngIf="omatieres">
            <li *ngFor="let matiere of omatieres | async"
                [class.selected]="matiere === selectedMatiere" (click)="onSelect(matiere)" class="clearfix">

                <span class="badge"> {{matiere.id}}</span>{{matiere.libelle | uppercase}}

            </li>
          </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-2 box action">
      <div class="row act"><a routerLink="/accueil" class="btn btn-danger">
        <i class="fa fa-home" aria-hidden="true"></i> </a></div>
      <br/>
      <div class="row act"><a routerLink="/matiere" class="btn btn-success">
        <i class="fa fa-arrow-up" aria-hidden="true"></i> </a></div>
      <br/>
      <div class="row act"><a routerLink="create" class="btn btn-primary">
        <i class="fa fa-arrows" aria-hidden="true"></i> </a></div>
    </div>

    <div class="col-md-6 box">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
