<h1 mat-dialog-title>DETAIL INVITE</h1>
<div mat-dialog-content>
  {{data | json}}
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Merci</button>
</div>
