.c-invite{


}
.invite-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.invite-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 400px;

}

.action-b{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.b{
  flex: 1;
}

.mat-table mat-row:hover{
  background: #ebebeb;
  cursor: pointer;
}

.mat-header-cell.mat-sort-header-sorted {
  color: red;
}
