<div class="container">
  <div class="row">
    <!--<div class="jumbotron text-center">
      <h3>LES INVITES</h3>
      <a [routerLink]="['/accueil']" class="btn btn-danger"> Accueil</a>
    </div>-->


  </div>
  <div class="row ">
    <div class="col-lg-10 offset-1 c-invite">
      <div *ngIf="statusSucces === 0; else succesErreur">
        <div class="alert alert-success"> {{succesMessage}}</div>
      </div>
      <ng-template #succesErreur>
        <div class="alert alert-danger" *ngIf="statusSucces === 1 || statusSucces === 2 || statusSucces === 3">
          {{succesErreurMessage}}
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage|| errorMessageStatus"> {{errorMessage}}
          {{errorMessageStatus}}
        </div>
      </ng-template>

      


      <div class="mat-elevation-z8">
        <div class="invite-header">
          <mat-form-field>
            <input matInput placeholder="Filtrer" (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </div>
        <div class="invite-container ">
          <mat-table #table [dataSource]="inviteDataSource" matSort>
            <!--Columns ID-->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let invite">{{invite.id}}</mat-cell>
            </ng-container>

            <!--Columns TITRE-->
            <ng-container matColumnDef="titre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>TITRE</mat-header-cell>
              <mat-cell *matCellDef="let invite">{{invite.titre}}</mat-cell>
            </ng-container>

            <!--Columns CNI-->
            <ng-container matColumnDef="numCni">
              <mat-header-cell *matHeaderCellDef mat-sort-header>CNI</mat-header-cell>
              <mat-cell *matCellDef="let invite">{{invite.numCni}}</mat-cell>
            </ng-container>

            <!--Columns NOM-->
            <ng-container matColumnDef="nom">
              <mat-header-cell *matHeaderCellDef mat-sort-header>NOM</mat-header-cell>
              <mat-cell *matCellDef="let invite">{{invite.nom}}</mat-cell>
            </ng-container>

            <!--Columns PRENOM-->
            <ng-container matColumnDef="prenom">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PRENOM</mat-header-cell>
              <mat-cell *matCellDef="let invite">{{invite.prenom}}</mat-cell>
            </ng-container>

            <!--Columns PROFIL-->
            <ng-container matColumnDef="profil">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PROFIL</mat-header-cell>
              <mat-cell *matCellDef="let invite">{{invite.profil}}</mat-cell>
            </ng-container>

            <!--Columns RAISON-->
            <ng-container matColumnDef="raison">
              <mat-header-cell *matHeaderCellDef mat-sort-header>RAISON</mat-header-cell>
              <mat-cell *matCellDef="let invite">{{invite.raison}}</mat-cell>
            </ng-container>
            <!--Columns ACTION-->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</mat-header-cell>
              <mat-cell *matCellDef="let invite">
                <div class="action-b">
                  <div class="b">
                    <button mat-mini-fab color="primary" (click)="openDiaolDetail(invite)">
                      <mat-icon matTooltip="Voir les details" matTooltipPosition="before">search</mat-icon>
                    </button>
                  </div>
                  <div class="b">
                    <button mat-mini-fab color="accent" (click)="showInvite(invite)">
                      <mat-icon matTooltip="Modifier." matTooltipPosition="right">update</mat-icon>
                    </button>
                  </div>

                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #e5f1e6"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openDialogSupprime(row)"></mat-row>
          </mat-table>
          <div class="action-b">
            <div class="b" style="margin-left: 20px">
              <button mat-raised-button color="primary" (click)="showDialogToAdd()"> Add</button>
            </div>
            <div class="b">
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>




