.acc-box{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.box{
  flex: 1;
}

.bto{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.space-botto{
  margin-bottom: 7px;
}
