<div class="employe-container">
  <mat-toolbar class="employe-toolbar">

    <mat-toolbar-row >
      <div class="emp-buton">
        <button (click)="snav.toggle()">
          <mat-icon  >menu</mat-icon>
        </button>
      </div>
      List employes
      <span class="ecole-spacer"></span>
      <div class="emp-buton">
        <a mat-mini-fab matTooltip="Accueil appli" routerLink="/accueil" matTooltipPosition="before">
          <mat-icon>home</mat-icon>
        </a>
      </div>
      <div class="emp-buton">
        <a mat-mini-fab color="primary" matTooltip="Accueil des educateurs" routerLink="/employe"
           matTooltipPosition="below">
          <mat-icon>face</mat-icon>
        </a>
      </div>
      <div class="emp-buton">
        <button mat-mini-fab color="warn" matTooltip="Ajouter un admin"  matTooltipPosition="after">
          <mat-icon>group</mat-icon>
        </button>
      </div>
      <span class="ecole-spacer"></span>
      <label>CRUD des employes</label>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="employe-sidnav-container">
    <mat-sidenav #snav mode="over" position="end" class="employe-sidenav">
      <router-outlet></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content>
<mat-card style=" margin-left: 8%; margin-right: 8%">
  <h3 class="text-center">LISTES DES EMPLOYES</h3>
  <mat-card-actions>
    <button mat-raised-button (click)="snav.open()">Zone crud</button>
  </mat-card-actions>
</mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
