.e-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  flex: 1;
}

.employe-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 20px;
  right: 20px;
}

.employe-sidnav-container {
  flex: 1;
  margin-top: 10px;

}

.employe-sidenav {
  width: 70%;
}

.employe-toolbar {


}

.emp-buton {
  padding-right: 10px;
}
