$btpers-theme-primary: mat-palette($mat-yellow);
$btpers-theme-accent: mat-palette($mat-blue-grey,600);
$btpers-theme-warn: mat-palette($mat-green,600);

$btpers-theme: mat-light-theme(
    $btpers-theme-primary,
    $btpers-theme-accent,
    $btpers-theme-warn
);

/*Deuxieme grotpe*/

$btpers2-theme-primary: mat-palette($mat-blue);
$btpers2-theme-accent: mat-palette($mat-teal);
$btpers2-theme-warn: mat-palette($mat-brown);

$btpers2-theme: mat-light-theme(
    $btpers2-theme-primary,
    $btpers2-theme-accent,
    $btpers2-theme-warn
);
