@import "~@angular/material/theming";

@mixin app-root-theme($theme) {
  $primary: map_get($theme, primary);
  $accent: map_get($theme, accent);
  $warn: map_get($theme, warn);
  $background: map_get($theme, background);
  $foregrounnd: map_get($theme, foregrounnd);

  app-root{
    >div{
      span{
        h4{
          background-color: mat-color($accent);
          color: mat-color($accent, lighter);
        }
      }

    }
  }
}
