@import "~@angular/material/theming";
$ecole-theme-primary: mat-palette($mat-blue,900);
$ecole-theme-accent: mat-palette($mat-pink,700);
$ecole-theme-warn: mat-palette($mat-red, A400);

$ecole-theme: mat-light-theme(
    $ecole-theme-primary,
    $ecole-theme-accent,
    $ecole-theme-warn
);
