@import "~@angular/material/theming";
$enseignant-theme-primary: mat-palette($mat-cyan,800);
$enseignant-theme-accent: mat-palette($mat-purple);
$enseignant-theme-warn: mat-palette($mat-deep-orange);

$enseignant-theme: mat-light-theme(
    $enseignant-theme-primary,
    $enseignant-theme-accent,
    $enseignant-theme-warn
);
