<div mat-dialog-title>
  MISE A JOUR INVITE
</div>
<div mat-dialog-content>
  <form #inviteForm="ngForm" >
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>person</mat-icon>
        <strong>INFOS</strong>
      </ng-template>

        <div class="cni-titre">
          <mat-form-field>
            <input matInput [textMask]="{mask: maskCni}" type="text" [(ngModel)]="data.numCni" #cni="ngModel"
                   placeholder="Cni" name="cni" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="data.titre" placeholder="Titre" #titre="ngModel" name="titre"
                   [matAutocomplete]="auto" required>
            <mat-autocomplete #auto>
              <mat-option *ngFor="let titre of titres" [value]="titre">
                {{titre}}
              </mat-option>

            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="cni-titre">
          <mat-form-field>
            <input matInput [(ngModel)]="data.nom" placeholder="Nom" #nom="ngModel" name="nom" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="data.prenom" placeholder="Prenom" #prenom="ngModel" name="prenom" required>
          </mat-form-field>
        </div>
        <div class="cni-titre">
          <mat-form-field>
            <input matInput [(ngModel)]="data.profil" placeholder="Profil" #profil="ngModel" name="profil"
                   [matAutocomplete]="autoprof" required>
            <mat-autocomplete #autoprof>
              <mat-option *ngFor="let profil of profils" [value]="profil">
                {{profil}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="data.raison " placeholder="Raison" #raison="ngModel" name="raison" required>
          </mat-form-field>
        </div>
        <div class="cni-titre">
          <mat-form-field>
            <input matInput [(ngModel)]="data.status" placeholder="Statut" #societe="ngModel" name="status" [matAutocomplete]="autoStat">
            <mat-autocomplete #autoStat>
              <mat-option *ngFor="let statut of statuts" [value]="statut">
                {{statut}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="data.societe" placeholder="Societe" #societe="ngModel" name="societe">
          </mat-form-field>
        </div>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 5px">contact_mail</mat-icon>
        <strong> CONTACTS</strong>
      </ng-template>

        <div class="cni-titre">
          <mat-form-field>
            <input matInput [(ngModel)]="data.adresse.quartier" #quartier="ngModel" placeholder="Domicile"
                   name="quartier">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="data.adresse.codePostal" placeholder="Code Postal" #codePostal="ngModel"
                   name="codePostal">
          </mat-form-field>
        </div>
        <div class="cni-titre">
          <mat-form-field>
            <input matInput [textMask]="{mask:emailMask}" [(ngModel)]="data.adresse.email" placeholder="E-mail"
                   #email="ngModel" name="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput [textMask]="{mask: maskPhone}" [(ngModel)]="data.adresse.mobile" placeholder="Mobile"
                   #mobile="ngModel" name="mobile">
          </mat-form-field>
        </div>
        <div class="cni-titre">
          <mat-form-field>
            <input matInput [textMask]="{mask: maskPhone}" [(ngModel)]="data.adresse.bureau" placeholder="Bureau"
                   #bureau="ngModel" name="bureau">
          </mat-form-field>
          <mat-form-field>
            <input matInput [textMask]="{mask: maskPhone}" [(ngModel)]="data.adresse.tel" placeholder="Telephone"
                   #tel="ngModel" name="tel">
          </mat-form-field>
        </div>

    </mat-tab>
  </mat-tab-group>
    <!--Pour permettre de d'activer si valide le bouton hors du formulaire dans le dialogue.-->
  <button mat-raised-button color="primary" mat-dialog-close="data" [disabled]="!inviteForm.form.valid" hidden>Sauver</button>
  </form>

  <!--  {{data | json}}-->
</div>
<div mat-dialog-actions class="dia-pied">
  <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
  <button mat-raised-button color="primary" mat-dialog-close="data" [disabled]="!inviteForm.form.valid">Sauver</button>
</div>
