<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <div class="jumbotron">
      <h2 style="color: deeppink; font-style: italic" class="text-center"><strong>BIENVENUE POUR LA GESTION DES EMPLOYES DE L'ETABLISSEMENTS...</strong></h2>
    </div>
  </mat-card-content>
  <mat-card-actions class="matact">
    <a mat-raised-button color="primary" routerLink="/accueil">Accueil</a>
    <a mat-raised-button color="accent" routerLink="/employe/list">Gerer les employes</a>
  </mat-card-actions>
</mat-card>
