.contsidnav {
  height: 410px;
}

.butonrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.creer-card {
height: 400px;
  margin-right: 15px;
  margin-top: 10px;

}


.detail{
  display: flex;
  justify-content: flex-start;
}

.detail-fab.mat-mini-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.photo-fab.mat-mini-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
