<mat-sidenav-container class="contsidnav">

  <!--EDITION-->
  <div *ngIf="editMode ; else newEnseignant">
    <div *ngIf="enseignant" class="well">
    <mat-card>
      <mat-card-header class="header">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>MODIFICATION</mat-card-title>
        <mat-card-subtitle> PROFESSEURS!</mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]="enseignantForm" (ngSubmit)="onSubmit()" novalidate class="creer-card">
        <mat-form-field>
          <!--<span matPrefix>CNI &nbsp;</span>-->
          <input matInput [textMask]="{mask: maskCni}" placeholder="Carte d'identité" formControlName="cni">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Le titre" formControlName="titre">
            <mat-option *ngFor="let t of titres" [value]=t.name>{{t.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <table class="creer-card">
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Nom" formControlName="nom">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="Prenom" formControlName="prenom">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Specialités" formControlName="specialite">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="Statut" formControlName="statut">
              </mat-form-field>
            </td>

          </tr>

        </table>
        <br/>
        <div formGroupName="adresse">
          <mat-expansion-panel matTooltip="Les adresses" matTooltipPosition="above">
            <mat-expansion-panel-header>
              <mat-panel-title>Adresse professeur</mat-panel-title>
              <mat-panel-description>Entrer les adresses</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="teleph">
              <mat-form-field>
                <input matInput placeholder="Code Postal" formControlName="codePostal">
              </mat-form-field>
              <mat-form-field>
                <input type="text" matInput [textMask]="{mask: emailMask}" placeholder="Email" formControlName="email" email>
              </mat-form-field>
            </div>
            <mat-form-field mat-line>
              <input type="text" matInput placeholder="Domicile" formControlName="quartier">
            </mat-form-field>
            <!--<mat-form-field>
              <input titre="tel" matInput placeholder="mobile" formControlName="mobile">
            </mat-form-field>
            <mat-form-field>
              <input titre="tel" matInput placeholder="Bureau" formControlName="bureau">
            </mat-form-field>
            <mat-form-field>
              <input titre="tel" matInput placeholder="Fixe" formControlName="tel">
            </mat-form-field>-->

          </mat-expansion-panel>

        </div>
        <!--FORMARRAY-->
        <div style="margin-top: 16px">
          <mat-expansion-panel matTooltip="Contact téléphonique" matTooltipPosition="before">

            <mat-expansion-panel-header>
              <mat-panel-title>Les contacts</mat-panel-title>
              <mat-panel-description>Saisi les contacts</mat-panel-description>
            </mat-expansion-panel-header>
            <div formArrayName="telephones">
              <div *ngFor="let tel of enseignantForm.get('telephones').controls; let i=index; ">
                <mat-panel-title class="teleph header" style="height: 50px">
                  <mat-action-row>
                    Telephone #{{i+1}}
                  </mat-action-row>

                  <mat-action-row >

                    <button type="button" mat-mini-fab color="warn"  (click)="removeTelephone(i)"
                            matTooltip="Supprimer" matTooltipPosition="above">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-action-row>
                </mat-panel-title>
                <div [formGroupName]="i">
                  <mat-action-row>
                    <mat-form-field>
                      <mat-select placeholder="Le type" formControlName="titre">
                        <mat-option *ngFor="let t of typeTel" [value]=t.titre>{{t.label}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [textMask]="{mask: maskPhone}" placeholder="Entrer le numero" formControlName="numero">
                    </mat-form-field>
                  </mat-action-row>
                </div>
              </div>
              <mat-action-row>
                <button mat-raised-button color="warn" type="button" (click)="addTelephone()"
                        matTooltip="Ajouter une numero" matTooltipPosition="above">
                  Ajout telephone
                </button>
              </mat-action-row>
            </div>
          </mat-expansion-panel>

        </div>


        <br/>
        <div class="butonrow">
          <button mat-raised-button color="primary" mat type="submit"
                  matTooltip="Sauver le prof" matTooltipPosition="before">
            Enregistrer
          </button>
          <button mat-raised-button color="accent" type="button" (click)="annuler()"
                  matTooltip="Annuler enregistrement" matTooltipPosition="above">
            Annuler
          </button>
        </div>
      </form>

      <!--<mat-card-actions>
        {{enseignantForm.value | json}}
      </mat-card-actions>-->

    </mat-card>
    </div>
  </div>




  <!--AJOUTER-->
  <ng-template #newEnseignant>
    <div class="well">
      <mat-card>
        <mat-card-header class="header">
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>CREER</mat-card-title>
          <mat-card-subtitle> PROFESSEURS!</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="enseignantForm" (ngSubmit)="onSubmit()" novalidate class="creer-card">
          <mat-form-field>
            <!--<span matPrefix>CNI &nbsp;</span>-->
            <input matInput [textMask]="{mask: maskCni}" placeholder="Carte d'identité" formControlName="cni">
          </mat-form-field>
          <mat-form-field>
          <mat-select placeholder="Le titre" formControlName="titre">
            <mat-option *ngFor="let t of titres" [value]=t.name>{{t.label}}</mat-option>
          </mat-select>
          </mat-form-field>
          <table class="creer-card">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Nom" formControlName="nom">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Prenom" formControlName="prenom">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Specialités" formControlName="specialite">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Statut" formControlName="statut">
                </mat-form-field>
              </td>

            </tr>

          </table>
          <br/>
          <div formGroupName="adresse">
            <mat-expansion-panel matTooltip="Les adresses" matTooltipPosition="above">
              <mat-expansion-panel-header>
                <mat-panel-title>Adresse professeur</mat-panel-title>
                <mat-panel-description>Entrer les adresses</mat-panel-description>
              </mat-expansion-panel-header>
              <div class=" teleph">
              <mat-form-field>
                <input matInput placeholder="Code Postal" formControlName="codePostal">
              </mat-form-field>
              <mat-form-field>
                <input type="text" [textMask]="{mask: emailMask}" matInput placeholder="Email" formControlName="email" email>
              </mat-form-field>
              </div>
              <mat-form-field mat-line>
                <input type="text" matInput placeholder="Domicile" formControlName="quartier">
              </mat-form-field>
              <!--<mat-form-field>
                <input titre="tel" matInput placeholder="Bureau" formControlName="bureau">
              </mat-form-field>
              <mat-form-field>
                <input titre="tel" matInput placeholder="Fixe" formControlName="tel">
              </mat-form-field>-->

            </mat-expansion-panel>

          </div>
          <!--FORMARRAY-->
          <div style="margin-top: 16px">
            <mat-expansion-panel matTooltip="Contact téléphonique" matTooltipPosition="before">

                <mat-expansion-panel-header>
                  <mat-panel-title>Les contacts</mat-panel-title>
                  <mat-panel-description>Saisi les contacts</mat-panel-description>
                </mat-expansion-panel-header>
              <div formArrayName="telephones">
                <div *ngFor="let tel of enseignantForm.get('telephones').controls; let i=index; ">
                  <mat-panel-title class="teleph header" style="height: 50px">
                    <mat-action-row>
                      Telephone #{{i+1}}
                    </mat-action-row>

                    <mat-action-row >

                      <button type="button" mat-mini-fab color="warn"  (click)="removeTelephone(i)"
                              matTooltip="Supprimer" matTooltipPosition="above">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-action-row>
                  </mat-panel-title>
                  <div [formGroupName]="i">
                    <mat-action-row>
                    <mat-form-field>
                    <mat-select placeholder="Le type" formControlName="titre">
                      <mat-option *ngFor="let t of typeTel" [value]=t.titre>{{t.label}}</mat-option>
                    </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [textMask]="{mask: maskPhone}" placeholder="Entrer le numero" formControlName="numero">
                    </mat-form-field>
                    </mat-action-row>
                  </div>
                </div>
                <mat-action-row>
                  <button mat-raised-button color="warn" type="button" (click)="addTelephone()"
                          matTooltip="Ajouter une numero" matTooltipPosition="above">
                    Ajout telephone
                  </button>
                </mat-action-row>
              </div>
            </mat-expansion-panel>

          </div>


          <br/>
          <div class="butonrow">
            <button mat-raised-button color="primary" mat type="submit"
            matTooltip="Sauver le prof" matTooltipPosition="before">
              Enregistrer
            </button>
            <button mat-raised-button color="accent" type="button" (click)="annuler()"
            matTooltip="Annuler enregistrement" matTooltipPosition="above">
              Annuler
            </button>
          </div>
        </form>
        <!--<mat-card-actions>
          {{enseignantForm.value | json}}
        </mat-card-actions>-->

      </mat-card>


    </div>
  </ng-template>

</mat-sidenav-container>
