.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.parent{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.enf-1{
  flex: 1;
}

.enf-2{
  flex: 3;
  display:flex;
  justify-content: space-between;
  margin: 2px;
}

/*.enf-3{
  margin: 5px;
  flex: 1;
}*/
.enf-4{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cadre{
  width: 230px;
}
.cadText{

}
