.ecole-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ecole-toolbar {
  position: fixed;
  z-index: 2;

}

.ecole-sidenav-container {
  flex: 1;
  margin-top: 60px;
}


.ecole-sidenav-container2{
  flex: 1;
  margin-top: 85px;
}
.ecole-sidenav {
  /*background-color: #fafafa*/
;
}

.toolb-icon {
  color: rgba(255, 0, 58, 0.82);
}

.titreh2 {
  color: #dc181a;
}

.nav-li {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.nav {
  flex: 1;
}

.nlist {
  width: 200px;
}

.acc {
  font-size: 20px;
  padding: 0 14px;
  /*margin-left: 10px;*/
  color: white;
}



.rech {
  display: flex;
  align-items: center;
}

.too {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-top: 10px;
}

/*
.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(196, 196, 229, 0.5);
}
*/
