<!--The content below is only a placeholder and can be replaced.-->
<div class="ecole-container" >
  <mat-toolbar color="primary" class="ecole-toolbar" [class.mat-elevation-z12]="true">
    <mat-toolbar-row class="too">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()" style="margin-left: 10px">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div style="margin-left: 10px">
        <button mat-button color="primary" (click)="accueil()"  >
          <mat-icon color="warn">import_contacts</mat-icon>
          <span class="acc"><strong>Accueil</strong></span>
        </button>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="scolarite"><span><strong>Scolarité</strong></span></button>
        <mat-menu #scolarite>
          <button mat-menu-item (click)="invite()">
            <mat-icon>person</mat-icon>
            <span>Invite</span>
          </button>
          <button mat-menu-item (click)="eseignant()">
            <mat-icon>person</mat-icon>
            <span>Enseignant</span>
          </button>
          <button mat-menu-item (click)="employe()">
            <mat-icon>group</mat-icon>
            <span>Employés</span>
          </button>
        </mat-menu>
      </div>

      <div>
        <button mat-button [matMenuTriggerFor]="formation"><span><strong>Formations</strong></span></button>
        <mat-menu #formation>
          <button mat-menu-item (click)="matiere()">
            <mat-icon>school</mat-icon>
            <span>Matiere</span>
          </button>
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Etudiant</span>
          </button>
          <button mat-menu-item>
            <mat-icon>book</mat-icon>
            <span>Cour</span>
          </button>
          <button mat-menu-item>
            <mat-icon>room</mat-icon>
            <span>Salle</span>
          </button>
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Promotion</span>
          </button>
          <button mat-menu-item>
            <mat-icon>book</mat-icon>
            <span>Filière</span>
          </button>
        </mat-menu>
      </div>
      <span class="ecole-spacer"></span>
      <div class="rech">
        <div *ngIf="hide">
          <mat-icon>search</mat-icon>
          <mat-form-field   color="warn" style="width: auto" floatLabel="never">
            <input matInput placeholder="search" autofocus type="text">
          </mat-form-field>
        </div>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'clear' : 'search'}}</mat-icon>

      </div>

    </mat-toolbar-row>

  </mat-toolbar>


  <mat-sidenav-container class="ecole-sidenav-container" [class.ecole-sidenav-container2]="mobileQuery.matches">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over': 'side'"
                 class="ecole-sidenav" [class.mat-elevation-z8]="true">
      <mat-nav-list class="nlist" [class.mat-elevation-z7]="true">
        <a mat-list-item routerLink="." class="nav-li">
          <mat-icon mat-list-icon class="toolb-icon nav">home</mat-icon>
          <span class="mgspan nav">Accueil </span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="nlist" >
        <a mat-list-item="" routerLink="/invite" class="nav-li" [class.mat-elevation-z7]="true">
          <mat-icon mat-list-icon class="nav">person</mat-icon>
          <!--<span class="toolb-spacer"></span>-->
          <span class="mgspan nav">Invite</span>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>

      <div>
        <span><h4 mat-subheader>Formations</h4></span>
      </div>

      <mat-nav-list class="nlist">
        <mat-divider></mat-divider>
        <a mat-list-item="" routerLink="/matiere" class="nav-li">
          <mat-icon mat-list-icon class="nav">school</mat-icon>
          <span class="mgspan nav">Matière</span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="nlist">

        <a mat-list-item="" routerLink="." class="nav-li">
          <mat-icon mat-list-icon class="nav">person</mat-icon>
          <span class="mgspan nav">Etudiant</span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="nlist">
        <a mat-list-item="" routerLink="." class="nav-li">
          <mat-icon mat-list-icon class="nav">book</mat-icon>
          <span class="mgspan nav">Cours</span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="nlist">
        <a mat-list-item="" routerLink="." class="nav-li">
          <mat-icon mat-list-icon class="nav">room</mat-icon>
          <span class="mgspan nav">Sale</span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="nlist">
        <a mat-list-item="" routerLink="." class="nav-li">
          <mat-icon mat-list-icon class="nav">home</mat-icon>
          <span class="mgspan nav">Promotion</span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="nlist">
        <a mat-list-item="" routerLink="." class="nav-li">
          <mat-icon mat-list-icon class="nav">book</mat-icon>
          <span class="mgspan nav">Filière</span>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
      <div><span><h4 mat-subheader>Administrations</h4></span></div>
      <mat-nav-list class="nlist">
        <mat-divider></mat-divider>
        <a mat-list-item="" routerLink="/enseignant" class="nav-li">
          <mat-icon mat-list-icon class="nav"> person
          </mat-icon>
          <span class="mgspan nav">Enseignant</span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="nlist">
        <a mat-list-item="" routerLink="/employe" class="nav-li">
          <mat-icon mat-list-icon class="nav"> group
          </mat-icon>
          <span class="mgspan nav">Employés</span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="nlist">
        <a mat-list-item="" routerLink="." class="nav-li">
          <mat-icon mat-list-icon class="nav"> speaker</mat-icon>
          <span class="mgspan nav">Admin</span>
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>


      <div class="container align-items-center" style="margin-top: 15px">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
  <!--<mat-toolbar class="example-footer" >Footer</mat-toolbar>-->
</div>
