<div mat-dialog-title>
  <mat-icon color="warn">help_outline</mat-icon>
  Suppression d'un invité
</div>
<div mat-dialog-content>
<span><strong>Voulez-vous supprimer l'invité :</strong> </span>
  <div style="padding: 10px">
    {{data.numCni}} {{data.titre}} {{data.nomComplet}}
  </div>
</div>
<div mat-dialog-actions class="dia-pied" style="margin-top: 10px">
  <button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial>Annuler</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="data" >Oui</button>
</div>
