<div class="row" *ngIf="enseignant">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Ajout de photo</div>

      <div class="card-body">

        <div class="row">
          <div class="col-xs-4">
            <span class="badge badge-secondary">CNI:</span>
          </div>
          <div class="col-xs-8 pull-left">
            {{enseignant.numCni}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <span class="badge badge-secondary ">Nomme:</span>
          </div>
          <div class="col-xs-8 pull-left">
            {{enseignant.nomComplet}}
          </div>
        </div>
        <div class="row card">
          <form [formGroup]="photogroup"  (ngSubmit)="onSubmit()">
            <div class="form-control">
              <input type="file" class="form-control" placeholder="Choisir une photo" #imageEns formControlName="imageEns"
              (change)="preview($event)" accept="image/*">
            </div>

            <div *ngIf="preVisible">
              <mat-card>
                <canvas #mycanvas width="200px" height="300px" style="border: 1px solid #607D8B"></canvas>
              </mat-card>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary pull-left">Submit</button>
            <button type="button" class="btn btn-danger pull-right" (click)="annuler()">Annuler</button>
          </form>
        <!--  <div *ngIf="progression">
            <mat-progress-spinner [mode]="determinate" [value]="progression">

            </mat-progress-spinner>
          </div>-->
          <div class="clearfix" *ngIf="!preVisible">
            <mat-card style="height: 200px; width: 200px" align="center">
              <img [src]="enseignant?.pathphoto" class="img-fluid">
            </mat-card>
          </div>

        </div>
      </div>

    </div>


  </div>
</div>

