<h1 mat-dialog-title><strong>LES DETAILS DES INVITES</strong></h1>
<div mat-dialog-content class="enseignant-theme">
 <!-- {{data | json}}-->
  <mat-tab-group class="invite-tab-group">
    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon>person</mat-icon> <strong>INFOS</strong>
      </ng-template>
      <div class="dial-el" style="padding-top: 5px">
        <div class="el"> <mat-chip-list><mat-chip color="accent"  selected="true">CNI :</mat-chip></mat-chip-list></div>
        <div class="el">{{data.numCni}} </div>
      </div>
      <div class="dial-el">
        <div class="el"> <mat-chip color="accent"  selected="true">TITRE :</mat-chip></div>
        <div class="el"> {{data.titre}}</div>
      </div>
      <div class="dial-el">
        <div class="el"> <mat-chip color="accent"  selected="true" >NOM :</mat-chip></div>
        <div class="el"> {{data.nom}}</div>
      </div>
      <div class="dial-el">
        <div class="el"> <mat-chip color="accent"  selected="true">PRENOM :</mat-chip></div>
        <div class="el"> {{data.prenom}}</div>
      </div>
      <div class="dial-el">
        <div class="el"><mat-chip color="accent"  selected="true">PROFIL :</mat-chip> <label> </label></div>
        <div class="el"> {{data.profil}}</div>
      </div>
      <div class="dial-el">
        <div class="el"><mat-chip color="accent"  selected="true">RAISON :</mat-chip></div>
        <div class="el">{{data.raison}} </div>
      </div>
      <div class="dial-el">
        <div class="el"><mat-chip color="accent"  selected="true">STATUT </mat-chip> </div>
        <div class="el"> {{data.status}}</div>
      </div>
      <div class="dial-el">
        <div class="el"><mat-chip color="accent"  selected="true">SOCIETE :</mat-chip></div>
        <div class="el"> {{data.societe}}</div>
      </div>

    </mat-tab>
   <!-- <mat-tab label="Infos suite">

    </mat-tab>-->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 5px">contact_mail</mat-icon> <strong> CONTACTS</strong>
      </ng-template>
      <div class="dial-el">
        <div class="el"><mat-chip color="primary"  selected="true">LIEU :</mat-chip> </div>
        <div class="el"> {{data.adresse.quartier}}</div>
      </div>
      <div class="dial-el">
        <div class="el" > <mat-chip color="primary"  selected="true">POSTAL :</mat-chip></div>
        <div class="el"> {{data.adresse.codePostal}}</div>
      </div>
      <div class="dial-el" style="padding-top: 5px">
        <div class="el"><mat-chip color="primary"  selected="true">E-MAIL :</mat-chip> </div>
        <div class="el"> {{data.adresse.email}}</div>
      </div>
      <div class="dial-el">
        <div class="el"><mat-chip color="primary"  selected="true">MOBILE :</mat-chip> </div>
        <div class="el"> {{data.adresse.mobile}}</div>
      </div>
      <div class="dial-el">
        <div class="el"><mat-chip color="primary"  selected="true">BUREAU :</mat-chip> </div>
        <div class="el"> {{data.adresse.bureau}}</div>
      </div>
      <div class="dial-el">
        <div class="el"><mat-chip color="primary"  selected="true">TEL :</mat-chip> </div>
        <div class="el"> {{data.adresse.tel}}</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions class="dia-pied">
  <button mat-raised-button color="warn" (click)="onNoClick()" cdkFocusInitial>Merci</button>
</div>
