.dial-el{
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}
.invite-tab-group {
  border: 1px solid #e8e8e8;
}

.invite-tab-content {
  padding: 16px;
}

.dia-pied{
  display: flex;
  justify-content: center;
}
