/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "./app/themes/ecole-theme";
@import "app/themes/enseignant-theme";
@import "./app/themes/component-theme";
@import "./app/themes/bouton-theme";
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~@angular/material/theming";

@include mat-core();

@mixin my-component-theme($theme) {
  @include app-root-theme($theme);
}

@include angular-material-theme($ecole-theme);
@include my-component-theme($ecole-theme);

.enseignant-theme {
  @include angular-material-theme($enseignant-theme);
}

/*Bouton personnel*/
.btonperso {
  @include angular-material-theme($btpers-theme);
}

/*Bouton groupe 2*/
.btonperso2 {
  @include angular-material-theme($btpers2-theme);
}

.toolb-icon {
  padding: 0 14px;
}

.toolb-spacer {
  flex: 1 1 auto;
}

.ecole-spacer {
  flex: 1 1 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
